.search-input {
  border: 1px solid #aaa;
  border-radius: 5px;
}

.search-button {
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fdfaf5;
}

.search-button:hover {
  border-color: transparent;
}

.search-button:active {
  background-color: #dfdfdf;
}